


body {
  background-image: url('fondo.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}


.catalog-description {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 8px;
}


footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.digital-media {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
}

.digital-media h2 {
  margin-bottom: 1rem;
}

.digital-media h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}