<div *ngIf="isLoading" class="text-center mt-5">
  <h3 class="text-white">
    Cargando detalles del producto...
  </h3>
</div>

<div *ngIf="error" class="text-danger text-center mt-4">
  {{ error }}
</div>

<div
  *ngIf="!isLoading && movie"
  class="container d-flex justify-content-center mt-5"
>

  <div
    class="card bg-light shadow-lg p-4"
    style="max-width:700px; width:100%; border-radius:12px;"
  >

    <img
      [src]="movie.cover"
      alt="cover"
      class="img-fluid rounded mb-4"
      style="max-height:400px; object-fit:cover; width:100%;"
    />

    <h2 class="mb-3 text-center text-dark">
      {{ movie.titulo }}
    </h2>

    <p class="mb-2">
      <strong>Precio:</strong>
      {{ movie.anio }}
    </p>

    <p class="mb-3">
      <strong>Descripción:</strong>
      <br>
      {{ movie.sinopsis }}
    </p>

    <div class="text-center mt-4">

      <a
        routerLink="/movies"
        class="btn btn-primary me-2"
      >
        ← Volver
      </a>

      <a
        [routerLink]="['/movies/edit', movie._id]"
        class="btn btn-warning me-2"
      >
        ✏️ Editar
      </a>

      <button
        (click)="deleteMovie()"
        class="btn btn-danger"
      >
        🗑️ Eliminar
      </button>

    </div>

  </div>

</div>